<template name="admin">
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav">
						<li class="active">
							<a href="#" ><i class="icon-home"></i></a>
						</li>
						<li>
							<a href="#posts">Posts</a>
						</li>
						<li class="dropdown">
							<a href="" class="dropdown-toggle" data-toggle="dropdown">Users <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#users">List</a>
								</li>
								<li>
									<a href="#newuser">New</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#undercon">Settings</a>
						</li>
					</ul>
					
				</div>
			</div>
		</div>

		<!-- Main hero unit for a primary marketing message or call to action -->
		<div class="hero-unit" id="subContainer">
		
		</div>

	

	</div>
	<!-- /container -->

</template>